<%= form_for :article, url: tag_path do |f| %>

  <% if @article != nil && @article.errors.any? %>
	<h3 class="alert alert-error">
		Invalid: Answer is '<%= @article.answer %>'
	</h3>
  <% end %>
  
  <% if params.has_key?("match") && params[:match]%>
	<h3 class="alert alert-success">
		Congratulations! Answer is '<%= @article.answer %>'
	</h3>
  <% end %>
  
  <fieldset>
    <legend>Question</legend>
    <label><%= @article.question %></label>
    <input type="text" class="input-large" name="answer" placeholder="Type something…" value="<%= params[:answer] %>">
  
	<%= hidden_field_tag :id, @article.id %>
	<label></label>
  
	<% if !params.has_key?("match")%>
		<button type="submit" class="btn">Submit</button>
	<% end %>
	<label></label>
	
	<span class="help-block">
		<strong> Tags: </strong>
		<%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
	</span>
 
<% end %>

<%= link_to 'Next Question', tag_path %>

<%= link_to 'Back', articles_path %>